@charset "utf-8";
html, body { color:#333; font-size:12px; font-family:微软雅黑;}
body, form, p, ul, ol, h1,h2,h3,h4,h5,h6 { margin:0; padding:0; color:#000; }
ul, ol { list-style:none; }
a{text-decoration: none;}
img { border:none; vertical-align:middle; }
.fl { float:left; }
.fr { float:right; }
.cl { clear:both; line-height:0px; height:0;font-size:1px; overflow:hidden;}

.header {width:1015px; margin:0px auto;}
.header .factory-icon { float:left; width:296px; height:75px; margin:45px 120px 0px 0px; }
.header .navigation-bar {float:left; width:599px; margin:54px 0px 40px 0px;}
.header .navigation-bar .search{ width:211px; height:25px; float:left; background:#f0f0f0;}
.header .navigation-bar .lsearch{ width:12px; height:25px; float:left; border-top-left-radius:12px; border-bottom-left-radius:12px; margin-left:110px; -margin-left:50px; background:#f0f0f0;}
.header .navigation-bar .search #search{ width:186px; height:23px; outline:none; border:0; color:#909090; background:none;}
.header .navigation-bar .rsearch{ width:12px; height:25px; float:left; border-top-right-radius:12px; border-bottom-right-radius:12px; background:#f0f0f0;}
.header .navigation-bar .phone{ width:185px; height:25px; float:left; font-weight:bold; font-size: 18px; margin-left:30px;}
.header .navigation-bar .first-menu{float:left; width:599px; margin-top:25px;}
.header .navigation-bar .first-menu .fmli{ float:left; -width:60px; margin-right:34px; -margin-right:20px; font-size:13px; font-weight:bold; }
.header .navigation-bar .first-menu .fmli:hover>div{display: block;}
.header .navigation-bar .first-menu .fmli a:link,.header .navigation-bar .first-menu .fmli a:visited  {color:#000;}
.header .navigation-bar .first-menu .fmli a:hover {color:#378b44;background:#FFF;}

.header .navigation-bar .first-menu .submenu{ display:none; position:absolute; padding-top:15px; z-index:99;}
.header .navigation-bar .first-menu #about {margin-left:-115px;}
.header .navigation-bar .first-menu #cpzx {margin-left:-145px;}
.header .navigation-bar .first-menu #gcfw {margin-left:-205px;}
.header .navigation-bar .first-menu #jmal {margin-left:-145px;}
.header .navigation-bar .first-menu #zxzx {margin-left:-110px;}
.header .navigation-bar .first-menu .submenu .smli{display:block; float:left; padding-left:5px; padding-right:5px; margin-right:5px; margin-left:5px; background:#378b44; border-radius:8px;}
.header .navigation-bar .first-menu .submenu .smli:hover{background:#ea563b;}
.header .navigation-bar .first-menu .submenu .smli a{display:block; background:none; color:white;}

#warp { position:relative; width:1015px; margin:0px auto;}
